.navbar {
    display: flex;
    background-color: #181D27;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}


.logo {
    object-fit: contain;
    max-width: 100px;
}

.link {
    color: #D0DB97;
    font-size: large;
    cursor: pointer;
}

main {
    background-color: #69B578;
}


footer {
    background-color: #254D32;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.linkedin {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.linkedin a {
    padding: 10px;
}

img {
    animation: spin 2s infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .billet {
    position: absolute;
    top: -50px;
    width: 50px;
    height: 25px;
    background-image: url('https://www.multi-change.com/ressources/billets_grands/USD-00100-A.jpg');
    background-size: 100% 100%;
    animation: tomber 5s linear infinite;
    
}

@keyframes tomber {
    0% {
        top: 0px;
        transform: rotate(0deg);

    }

    100% {
        top: 185%;
        transform: rotate(360deg);

    }
}